@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the order website</h1>
    <ul>
        <li>Order list</li>
        <li>Create orders</li>
        <li>Edit orders</li>
        <li>Delete orders</li>
        <li>
            View Order details:
            <ul>
                <li>TODO</li>
            </ul>
        </li>
    </ul>
</div>